[Unit]
Description= jaeger-collector
After = multi-user.target

[Service]
Type = idle
ExecStart = /home/ansible/jaeger-1.13.0-linux-amd64/jaeger-collector --span-storage.type elasticsearch --es.server-urls http://42.118.242.146:9200 --collector.zipkin.http-port=9411
[Install]
WantedBy = multi-user.target